UI/Connected Services/ConquestionServiceReference/ConquestionGame.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConquestionGame.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConquestionGame.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameStatus" type="tns:Game.GameStatusEnum" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="tns:Map" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="QuestionSet" nillable="true" type="tns:QuestionSet" />
      <xs:element minOccurs="0" name="Rounds" nillable="true" type="tns:ArrayOfRound" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:simpleType name="Game.GameStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="starting" />
      <xs:enumeration value="ongoing" />
      <xs:enumeration value="finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Game.GameStatusEnum" nillable="true" type="tns:Game.GameStatusEnum" />
  <xs:complexType name="Map">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Map" nillable="true" type="tns:Map" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="QuestionSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionSet" nillable="true" type="tns:QuestionSet" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswer" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Answer" nillable="true" type="tns:Answer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswer" nillable="true" type="tns:ArrayOfAnswer" />
  <xs:complexType name="Answer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Answer" nillable="true" type="tns:Answer" />
  <xs:complexType name="ArrayOfRound">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Round" nillable="true" type="tns:Round" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRound" nillable="true" type="tns:ArrayOfRound" />
  <xs:complexType name="Round">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RoundActions" nillable="true" type="tns:ArrayOfRoundAction" />
      <xs:element minOccurs="0" name="RoundType" type="tns:Round.RoundTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Round" nillable="true" type="tns:Round" />
  <xs:complexType name="ArrayOfRoundAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoundAction" nillable="true" type="tns:RoundAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoundAction" nillable="true" type="tns:ArrayOfRoundAction" />
  <xs:complexType name="RoundAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MapStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlayerAnswers" nillable="true" type="tns:ArrayOfPlayerAnswer" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="tns:Question" />
      <xs:element minOccurs="0" name="QuestionStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoundActionWinner" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoundAction" nillable="true" type="tns:RoundAction" />
  <xs:complexType name="ArrayOfPlayerAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerAnswer" nillable="true" type="tns:PlayerAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerAnswer" nillable="true" type="tns:ArrayOfPlayerAnswer" />
  <xs:complexType name="PlayerAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RoundAction" nillable="true" type="tns:RoundAction" />
      <xs:element minOccurs="0" name="answerGiven" nillable="true" type="tns:Answer" />
      <xs:element minOccurs="0" name="player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerAnswer" nillable="true" type="tns:PlayerAnswer" />
  <xs:simpleType name="Round.RoundTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="starting" />
      <xs:enumeration value="expansion" />
      <xs:enumeration value="conquest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Round.RoundTypeEnum" nillable="true" type="tns:Round.RoundTypeEnum" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="ArrayOfQuestionSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionSet" nillable="true" type="tns:QuestionSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionSet" nillable="true" type="tns:ArrayOfQuestionSet" />
  <xs:complexType name="ArrayOfMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Map" nillable="true" type="tns:Map" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMap" nillable="true" type="tns:ArrayOfMap" />
</xs:schema>