UI/Connected Services/ConquestionServiceReference/ConquestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConquestionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConquestionGame.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConquestionService_CreatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ActiveGames_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveGames" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ActiveGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ChooseGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ChooseGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ChooseGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChooseGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllQuestionSets_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllQuestionSets" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllQuestionSets_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllQuestionSetsResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllMaps_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllMaps" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllMaps_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllMapsResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AskQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AskQuestion" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AskQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AskQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ValidateAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAnswer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ValidateAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckPlayerAnswers_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerAnswers" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckPlayerAnswers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ChooseMap_InputMessage">
    <wsdl:part name="parameters" element="tns:ChooseMap" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ChooseMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChooseMapResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSet" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSetResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSetByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSetByTitle" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSetByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSetByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddMap_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMap" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMapResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddQuestionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionSet" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddQuestionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionSetResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrievePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePlayer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrievePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IConquestionService">
    <wsdl:operation name="CreatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CreatePlayer" message="tns:IConquestionService_CreatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CreatePlayerResponse" message="tns:IConquestionService_CreatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CreateGame" message="tns:IConquestionService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CreateGameResponse" message="tns:IConquestionService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/AddPlayer" message="tns:IConquestionService_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/AddPlayerResponse" message="tns:IConquestionService_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/ActiveGames" message="tns:IConquestionService_ActiveGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/ActiveGamesResponse" message="tns:IConquestionService_ActiveGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChooseGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/ChooseGame" message="tns:IConquestionService_ChooseGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/ChooseGameResponse" message="tns:IConquestionService_ChooseGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllQuestionSets">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllQuestionSets" message="tns:IConquestionService_RetrieveAllQuestionSets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllQuestionSetsResponse" message="tns:IConquestionService_RetrieveAllQuestionSets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllMaps">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllMaps" message="tns:IConquestionService_RetrieveAllMaps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllMapsResponse" message="tns:IConquestionService_RetrieveAllMaps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AskQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/AskQuestion" message="tns:IConquestionService_AskQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/AskQuestionResponse" message="tns:IConquestionService_AskQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/ValidateAnswer" message="tns:IConquestionService_ValidateAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/ValidateAnswerResponse" message="tns:IConquestionService_ValidateAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerAnswers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CheckPlayerAnswers" message="tns:IConquestionService_CheckPlayerAnswers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CheckPlayerAnswersResponse" message="tns:IConquestionService_CheckPlayerAnswers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChooseMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/ChooseMap" message="tns:IConquestionService_ChooseMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/ChooseMapResponse" message="tns:IConquestionService_ChooseMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSet" message="tns:IConquestionService_RetrieveQuestionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSetResponse" message="tns:IConquestionService_RetrieveQuestionSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSetByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSetByTitle" message="tns:IConquestionService_RetrieveQuestionSetByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSetByTitleResponse" message="tns:IConquestionService_RetrieveQuestionSetByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/AddMap" message="tns:IConquestionService_AddMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/AddMapResponse" message="tns:IConquestionService_AddMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuestionSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/AddQuestionSet" message="tns:IConquestionService_AddQuestionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/AddQuestionSetResponse" message="tns:IConquestionService_AddQuestionSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrievePlayer" message="tns:IConquestionService_RetrievePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrievePlayerResponse" message="tns:IConquestionService_RetrievePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/JoinGame" message="tns:IConquestionService_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/JoinGameResponse" message="tns:IConquestionService_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/LeaveGame" message="tns:IConquestionService_LeaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/LeaveGameResponse" message="tns:IConquestionService_LeaveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/StartGame" message="tns:IConquestionService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/StartGameResponse" message="tns:IConquestionService_StartGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConquestionService" type="tns:IConquestionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePlayer">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/CreatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveGames">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/ActiveGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChooseGame">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/ChooseGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllQuestionSets">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/RetrieveAllQuestionSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllMaps">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/RetrieveAllMaps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AskQuestion">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/AskQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAnswer">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/ValidateAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerAnswers">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/CheckPlayerAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChooseMap">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/ChooseMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSet">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/RetrieveQuestionSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSetByTitle">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/RetrieveQuestionSetByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMap">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/AddMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQuestionSet">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/AddQuestionSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePlayer">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/RetrievePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/JoinGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/LeaveGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IConquestionService/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConquestionService">
    <wsdl:port name="BasicHttpBinding_IConquestionService" binding="tns:BasicHttpBinding_IConquestionService">
      <soap:address location="http://localhost:1234/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>